<div class="container m-3">
  <div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body text-center">
        <h3 class="card-title"><%= @restaurant.name %></h3>
        <p class="card-subtitle"><%= @restaurant.address %></p>
        <p><%= @restaurant.phone_number %></p>
      </div>
      <div class="card-footer text-center"><%= @restaurant.category %></div>
    </div>
    </div>
  </div>
  <div class="row mt-4 text-center">
    <h2>Reviews</h2>
    <ul class="list-group-flush">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item"><%= review.rating %> stars: <%= review.content %></li>
      <% end %>
      </ul>
    </div>
    <div class="row">
      <h2>Leave a review</h2>
       <%= simple_form_for [ @restaurant, @review ] do |f| %>
          <%= f.input :content%>
          <%= f.input :rating, :collection => 0..5, :prompt => 'Choose a rating...' %>
          <%= f.submit "Submit review", class: 'btn btn-primary mt-3'%>
      <% end %>
    </div>
  <div class="row mt-4 text-center">
    <div class="col">
      <%= link_to 'Back to list', restaurants_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
